      body{
       background-color: #237457;
       
        -webkit-background-size: cover;
         -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      
      }
      #accordion{
        width: 45%;
        height: 45%;
        text-align: center;
        margin: 0% auto;
        margin-bottom: 5%;
        border: solid;
        background-color: #828d8f;
        line-height: 2%;
      }
      
      .panel-footer{
        background-color: #303030;
      }
      
      .links{
        width:100%;
        height: 100%;
      }